annotated-types==0.7.0
anyio==4.12.1
certifi==2026.4.22
click==8.1.8
deprecation==2.1.0
eval_type_backport==0.2.2
exceptiongroup==1.3.1
fastapi==0.115.6
gotrue==2.12.4
h11==0.16.0
h2==4.3.0
hpack==4.1.0
httpcore==1.0.9
httptools==0.7.1
httpx==0.28.1
hyperframe==6.1.0
idna==3.13
iniconfig==2.1.0
packaging==26.2
pluggy==1.6.0
postgrest==0.19.3
pydantic==2.10.4
pydantic-settings==2.7.1
pydantic_core==2.27.2
PyJWT==2.12.1
pytest==8.3.4
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-multipart==0.0.20
PyYAML==6.0.3
realtime==2.5.3
six==1.17.0
starlette==0.41.3
storage3==0.11.3
StrEnum==0.4.15
supabase==2.11.0
supafunc==0.9.4
tomli==2.4.1
typing_extensions==4.15.0
uvicorn==0.34.0
uvloop==0.22.1
watchfiles==1.1.1
websockets==15.0.1
